<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cinesthetic - Ratings, reviews and recommendations by people for you.">
        <meta name="keywords" content="movies, recommendations, reviews, ratings, cinema, films, trailers, Cinesthetic">
        <meta name="author" content="Kristian Rigo (matr. 20046665)">

        <link rel="icon" type="Cinesthetic" href="/img/icon.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/access-style.css">
        <link rel="stylesheet" href="/css/homepage-style.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Amatic SC'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        
        <title>Cinesthetic: Registrazione</title>
    </head>

    <body>
        <%- include('header') %>
        <main>
            <% if (message) { %>
                <div class="alert alert-danger text-center floating-alert" id="alert-message"><%= message %></div>
            <% } %>
            <% if (success) { %>
                <div class="alert alert-success text-center floating-alert" id="alert-success"><%= success %></div>
            <% } %>
            <script>
                setTimeout(function() {
                    var alertMsg = document.getElementById('alert-message');
                    if(alertMsg) alertMsg.classList.add('hide');
                    var alertSuccess = document.getElementById('alert-success');
                    if(alertSuccess) alertSuccess.classList.add('hide');
                }, 3500); // 3.5 secondi
            </script>
            <div class="container access-title">
                <h1 class="text-center subtitle-access">Registrati</h1>
                <p class="text-center">Crea il tuo account per iniziare a recensire e scoprire nuovi film!</p>
            </div>
            <div class="container access-form">
                <form class="row g-3" method="POST" action="/registrati">
                    <div class="col-md-12">
                        <label for="input-username" class="form-label">Username*</label>
                        <input type="text" class="form-control" id="input-username" name="username" placeholder="Inserisci il tuo username" required value="<%= typeof username !== 'undefined' ? username : '' %>">
                        <div id="name-validity" class="form-text"></div>
                    </div>
                    <div class="col-md-12">
                        <label for="input-email" class="form-label">Email*</label>
                        <input type="email" class="form-control" id="input-email" name="email" placeholder="Inserisci la tua email" required value="<%= typeof email !== 'undefined' ? email : '' %>">
                        <div id="email-validity" class="form-text"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="input-password" class="form-label">Password*</label>
                        <input type="password" class="form-control" id="input-password" name="password" placeholder="Inserisci una password" required>
                        <div id="password-validity" class="form-text"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="input-confirm-password" class="form-label">Ripeti password*</label>
                        <input type="password" class="form-control" id="input-confirm-password" name="confirmPassword" placeholder="Ripeti la password" required>
                        <div id="confirm-password-validity" class="form-text"></div>
                    </div>
                    <div class="col-md-12 col-access">
                        <button class="btn btn-custom w-50 access-btn" id="register-btn">Registrati</button>
                    </div>
                    <div class="col-md-12">
                        <p class="text-center extra-label">Hai già un account? <a href="/accedi">Accedi</a></p>
                    </div>
                </form>
            </div>
        </main>
        <%- include('footer') %>

        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    </body>
</html>